@model thirdPractice.Models.Music

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <h1>Editar</h1>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Album</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="AlbumName" class="control-label">Nombre del album</label>
                            <input asp-for="AlbumName" class="form-control" />
                            <span asp-validation-for="AlbumName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Artist" class="control-label">Artista</label>
                            <input asp-for="Artist" class="form-control" />
                            <span asp-validation-for="Artist" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Genre" class="control-label">Género</label>
                            <input asp-for="Genre" class="form-control" />
                            <span asp-validation-for="Genre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReleaseDate" class="control-label">Lanzamiento</label>
                            <input asp-for="ReleaseDate" class="form-control" />
                            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Descripción</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UrlCover" class="control-label">Portada</label>
                            <input asp-for="UrlCover" class="form-control" />
                            <span asp-validation-for="UrlCover" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}